instance_11_chernaurus/
instance_11_chernaurus/*
/*
/*/
*.bak
.idea/
/Keys/bi.bikey
/Keys/bi2.bikey
!.gitignore
!/@DayZ_Epoch_Server/
!/@DayZ_Epoch_Server/addons/dayz_server
!/Battleye/
!/Config-Examples/
!/Keys/
!/MPMissions/
!/SQL/
!/Tools/
!Readme.txt
!restart.cmd
!timechange.vbs
/MPMissions/readme.txt
*.pbo
@DayZ_Epoch_Server/addons/dayz_server.pbo
