instance_11_chernaurus/
instance_11_chernaurus/*
/*
/*/
.idea/
/Keys/bi.bikey
/Keys/bi2.bikey
!.gitignore
!/Images/
!/@DayZ_Epoch_Server/
!/@DayZ_Epoch_Server/addons/dayz_server
!/Battleye/
!/Config-Examples/
!/Keys/
!/Installs/
!/MPMissions/Config/Config.cfg
!/SQL/
!/Tools/
!/DayZ-SQF/
!/BEC/
!Readme.txt
!restart.cmd
!timechange.vbs
/MPMissions/readme.txt
*.pbo
@DayZ_Epoch_Server/addons/dayz_server.pbo
*.bak
readme.txt
!/MPMissions/DayZ_Epoch_11.Chernarus/custom/custom_death/