/*
/*/
.idea/
!.gitignore
!**/Images/
!**/instance_11_chernaurus/
!**/@DayZ_Epoch_Server/addons/dayz_server
!**/Battleye/
!**/Keys/
!**/Installs/
!**/MPMissions/
!**/SQL/
!**/Tools/
!**/DayZ-SQF/
!**/BEC/
!restart.cmd
!timechange.vbs
/Keys/bi.bikey
/Keys/bi2.bikey
*.bak
